[Unit]
Description=Fix Tuned Profile and ACPI Platform Profile on Wake
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
Type=oneshot
ExecStart=/etc/systemd/system-sleep/tuned-wake-fix post suspend
RemainAfterExit=false

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
